body {
  font-family: Arial, sans-serif;
  text-align: center;
  /*background: linear-gradient(120deg, #1e3c72, #2a5298);*/
  color: black;
  height: 100vh;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

/* Estilo para o contêiner de áudio */
#audio-container {
  position: relative;
  width: 70%; /* Ajuste conforme necessário */
  margin: 20px auto;
}

/* Remover bordas padrão do player */
audio {
  width: 100%;
  border-radius: 10px; /* Arredonda as bordas do player */
  outline: none; /* Remove o contorno */
}

/* Personalizar o botão de reprodução */
audio::-webkit-media-controls-play-button {
  background-color: darkorange; /* Cor do botão de play */
  border-radius: 50%;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #64b5f6; /* Cor do controle de volume */
}

h1 {
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Adiciona um espaçamento entre os botões */
}

#options button {
  display: block;
  width: 95%; /* Ajuste a largura conforme o tamanho da tela */
  margin: 10px 0;
  padding: 15px;
  font-size: 18px;
  background-color: #f5ff8c;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#options button:hover {
  background-color: #c5d420; /* Altera a cor ao passar o mouse */
}

/* Estilo para botões de resposta correta/errada */
button.correct {
  background: #4caf50;
  color: white;
}

button.wrong {
  background: #d32f2f;
  color: white;
}

#score {
  margin-top: 15px;
  font-size: 18px;
}

#final-screen {
  text-align: left; /* Alinha o texto à esquerda */
  padding: 20px;
}

#final-screen h1 {
  color: red;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 22px;
  margin: 10px;
  background: #1f1d04;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1f1d04; /* Cor de destaque quando o mouse passa */
}

.comment-block {
  background-color: #f9f9f9; /* Cor de fundo suave */
  border-left: 5px solid #007bff; /* Barra lateral para destaque */
  padding: 15px;
  margin: 15px 0;
  font-size: 16px;
  color: #333; /* Cor do texto */
  text-align: left; /* Alinhamento do texto */
  font-family: Arial, sans-serif;
  border-radius: 5px; /* Bordas arredondadas */
}

/* Se quiser personalizar o título dentro do bloco */
.comment-block h3 {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

/* Se quiser personalizar os parágrafos dentro do bloco */
.comment-block p {
  margin: 5px 0;
}

/* Adicionando uma versão escura como opção */
.comment-block.dark {
  background-color: #333;
  color: #fff;
  border-left-color: #ffcc00;
}
